body {
	font-family: Roboto,Helvetica,Arial,sans-serif;
}

div#main {
	width:100%;
	position: absolute;
}

div#content {
	width: 600px;
	margin:auto;
}

h1 {
	text-align: center;
	font-size: 46px;
}

div.inline-img-left {
	float:left;
	width:200px;
	padding: 5px 15px 5px 0px;
}
div.inline-img-left > p {
	margin-top: 5px;
	font-weight: bold;
	
}
div.inline-img-right {
	float:right;
	width:200px;
	padding: 5px 0px 5px 15px;
}
div.inline-img-right > p {
	margin-top: 5px;
	font-weight: bold;
}

.highlight {
	font-weight: bold;
} 

.video {
	text-align: center;
}

div.links {
	width: 100%;
	position: relative;
	text-align: center;
}
div.links > a {
	width: 45%;
	display: inline-block;
	text-align:center;
}
div.links > a:link {
	color: black;
	text-decoration: none;
}
div.links > a:visited {
	color: black;
	text-decoration: none;
}
div.links > a > img {
	display: inline-block;
	vertical-align: middle;
}
div.links > a > p {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	
	font-size: 30px;
	font-weight: bold;
}

div.instructions {
	border: 1px solid black;
	padding: 0px 10px 0px 10px;
	width: 80%;
	margin: auto;
	position: relative;
}
div.instructions > p.header {
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
}
div.instructions > img {
	margin-left: calc(50% - (312px/2));
}

.footer {
	font-size: 10px;
	padding-top: 50px;
	text-align: center;
}